body {
    font-family: 'Roboto', sans-serif !important;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    opacity: 0.7;
}

code {
    background-color: #EEEEEE;
    padding: 5px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container-fluid, .main {
    padding: 0 !important;
}

.main {
    display: flex;
}

.conteudo {
    background: #EEEEEE;
    min-height: 680px;
}

.cabecalho {
    margin-top: 20px;
    margin-left: 30px;
    height: 42px;
    border-bottom: 1px solid #DDDFE0;
}

.cabecalho-label {
    padding: 15px;
    font-size: 27px;
    color: #3D4F61;
    font-weight: 500;
    line-height: 15px;
}

.va-text-top {
    vertical-align: text-top;
}

/* Navbar */

.navbar {
    box-shadow: inset -4px 12px 8px 13px rgba(0, 0, 0, .2);
    height: 60px;
}

.navbar a {
    cursor: pointer;
}

.navbar-nav {
    flex-direction: row !important;
    justify-content: space-evenly;
}

.nav-link {
    color: #FFFFFF !important;
}

.nav-item {
    margin-left: 15px;
    font-weight: 600;
}

.w-90 {
    width: 90% !important;
}

.w-35 {
    width: 35% !important;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.display-flex {
    display: flex;
}

.hidden {
    display: none !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.pointer {
    cursor: pointer !important;
}

.div-info p {
    margin-left: 50px;
    font-size: 15px;
}

#table-body {
    font-size: 13px;
}

.arrow-pagination {
    font-size: 20px;
    cursor: pointer;
}

#page-number, #page-number-historic {
    font-size: 18px;
    cursor: not-allowed;
}

.icon-logout {
    font-size: 18px;
    padding-top: 10px;
    cursor: pointer;
}

.icon-star, .icon-delete {
    cursor: pointer;
}

/* Colors */

.light-gray {
    color: #CCCCCC !important;
}

.white {
    color: #FFFFFF !important;
}
